<nav>
    <div class="topnav">
        <a routerLink="/home"><img src='https://raw.githubusercontent.com/Nithya-99/HMWL_website/master/images/Handmadewithlove.png' height="40" class="d-inline-block align-top" alt='logo' id="logo" /></a>
        <div class="topnav-right">
            <a routerLink="/home" routerLinkActive="active" class='link' id='home'>Home</a>
            <a routerLink="/products" routerLinkActive="active" class='link' id='products'>Products</a>
            <a routerLink="/add-product" routerLinkActive="active" class='link' id='add'>Add Product</a>
            <a routerLink="/feedback" routerLinkActive="active" class='link' id="feedback">Feedback</a>
        </div>
    </div>
</nav>